{% extends 'global/base.html' %}
{% load static %}
{% block content %}
<section class="container-fluid text-center">
    <h2 class="text-center">Sensor</h2>
    <div class="row row-col-2">
        <section
            class="col d-flex align-items-start flex-column justify-content-around sensor-info-background sensor-info-format m-2">
            <h4 class="m-3 text-center">Localização:</h4>
            {% for data in currentSensor %}
            <p class="m-3">{{data.id_localization.city}}</p>
            <p class="m-3">{{data.id_localization.coordinate}}</p>
            {% endfor %}
        </section>
        <div class="col sensor-info-background sensor-info-format m-2">
            <section>
                <h4 class="m-3 text-center">Trocar o sensor.</h4>
                <form class="m-2" action="{% url 'sensor' %}" method="post">
                    {% csrf_token %}
                    <select name="selectSensor" class="form-select" aria-label="Default select example">
                        <option selected value="default">Selecione um Sensor</option>
                        {% for sensor in getSensors %}
                        <option value="{{sensor.id_sen}}">{{sensor.mac}}</option>
                        {% endfor %}
                    </select>
                    <div class="m-3 text-center">
                        <button type="submit" class="btn btn-dark">Buscar</button>
                    </div>
                </form>
            </section>
        </div>
    </div>

    <div>
        <section>
            aqui gráficos
            <div></div>
            <div></div>
        </section>
        <section>
            aqui gráficos
            <div></div>
            <div></div>
        </section>
        <section>
            aqui gráficos
            <div></div>
            <div></div>
        </section>
    </div>
    <div>
        media e desvio padrão
        <section></section>
        <section></section>
        <section></section>
        <section></section>
    </div>
    <div>
        estatisticas ano
        <section></section>
        <section></section>
        <section></section>
    </div>
    <div>
        gráficos ano
        <section></section>
        <section></section>
        <section></section>
    </div>

</section>
{% endblock %}